
/* ------------------------------------------------------------- */
/* Menubar's rewrite
/* ------------------------------------------------------------- */

header.leftbar > nav > ul > li > a.logotype {
    background-color: #212121;
}

/* ------------------------------------------------------------- */
/* Modbar rewrite
/* ------------------------------------------------------------- */

header.modbar > span.title {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    text-transform: uppercase;
}

/* ------------------------------------------------------------- */
/* Table's rewrite
/* ------------------------------------------------------------- */

table.tbl-st-1 > tbody > tr > td > span.covid_pcr {
    background-color: #9c27b0;
    color: #fff;
}

table.tbl-st-1 > tbody > tr > td > span.covid_an {
    background-color: #3f51b5;
    color: #fff;
}

table.tbl-st-1 > tbody > tr > td > span.covid_ac {
    background-color: #9c27b0;
    color: #fff;
}

/* ------------------------------------------------------------- */
/* Tab's rewrite
/* ------------------------------------------------------------- */

.tabs {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.tabs > ul {
    position: relative;
    display: -webkit-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    z-index: 1;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fafafa;
}

.tabs > ul > li {
    display: block;
    line-height: 50px;
    padding: 0 30px;
    cursor: pointer;
    background-color: rgba(var(--light), 1);
    font-size: 12px;
    color: rgba(var(--gray), 1);
    font-weight: 500;
}

.tabs > ul > li:hover {
    background-color: #dddddd;
    color: rgba(var(--dark), 1);
}

.tabs > ul > li.view {
    background-color: #e8e8e8;
    color: rgba(var(--dark), 1);
    opacity: 1 !important;
}

.tabs > ul > li[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.tabs > ul > li[disabled]:hover {
    background-color: rgba(var(--light), 1);
    color: rgba(var(--gray), 1);
}

.tabs > .tab {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    display: none;
    background-color: rgba(var(--light), 1);
    z-index: 0;
}

/* ------------------------------------------------------------- */
/* Styles
/* ------------------------------------------------------------- */

fieldset.fields-group div.group-uploader > div.uploader[data-low-uploader] {
    width: calc(100% / 4);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

fieldset.fields-group div.group-uploader > div.uploader[data-low-uploader] > figure {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

fieldset.fields-group div.group-uploader {
    width: 100%;
}

fieldset.fields-group div.group-uploader::after {
    content: '';
    display: block;
    clear: both;
}

/*  */

div.preview-docs,
div.preview-docs > figure,
div.preview-docs > figure > img,
div.preview-docs > iframe {
    width: 100%;
}

div.preview-docs {
    margin-bottom: 20px;
}

div.preview-docs > iframe {
    height: 500px;
}

section[data-modal="preview_doc"] > .content > main {
    padding: 0px 0px 20px 0px !important;
}

/*  */

div.scanner-1 {
    width: 390px;
    height: 360px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fafafa;
}

@media (max-width: 768px) {

    div.scanner-1 {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

div.scanner-1 > figure {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

div.scanner-1 > figure > img {
    width: 100%;
    object-fit: cover;
}

div.scanner-1 > h4 {
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}

div.scanner-1 > span {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

/*  */

div.scanner-2 {
    width: calc(100% - 400px);
    height: 360px;
    float: left;
    padding: 0px 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    div.scanner-2 {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding-left: 0px;
        clear: both;
    }
}

div.scanner-2 > .tabs > .tab {
    height: calc(360px - 50px);
    background-color: #fafafa;
}

div.scanner-2 > .tabs > .tab > h6,
div.scanner-2 > .tabs > .tab > p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

div.scanner-2 > .tabs > .tab[data-target="tab3"] {
    padding: 0px;
}

div.scanner-2 > .tabs > .tab[data-target="tab3"]::after {
    content: '';
    display: block;
    clear: both;
}

div.scanner-2 > .tabs > .tab[data-target="tab3"] > div {
    width: calc(100% / 3);
    float: left;
    box-sizing: border-box;
    padding: 15px 0px;
}

div.scanner-2 > .tabs > .tab[data-target="tab3"] > div:first-child,
div.scanner-2 > .tabs > .tab[data-target="tab3"] > div:last-child {
    padding: 15px;
}

div.scanner-2 > .tabs > .tab[data-target="tab3"] > div > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

div.scanner-2 > .tabs > .tab[data-target="tab3"] > div > a > i {
    margin-right: 5px;
    font-size: 18px;
}

div.scanner-2 > .tabs > .tab[data-target="tab3"] > div > a > i.success {
    color: #009688;
}

div.scanner-2 > .tabs > .tab[data-target="tab3"] > div > a > i.error {
    color: #f44336;
}

/*  */

div.scanner-3 {
    width: 100%;
    padding: 30px 10px 0px 10px;
    box-sizing: border-box;
    clear: both;
}

@media (max-width: 768px) {

    div.scanner-3 {
        padding-top: 0px;
    }
}

div.scanner-3 > h4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #212121;
}

div.scanner-3 > h4 > img {
    width: auto;
    height: 50px;
}

div.scanner-3 > .tabs > .tab {
    background-color: #fafafa;
}

div.scanner-3 > .tabs > .tab[data-target="tab1"],
div.scanner-3 > .tabs > .tab[data-target="tab2"],
div.scanner-3 > .tabs > .tab[data-target="tab3"] {
    padding: 20px;
}

/*  */

article.scanner-4 {
    width: 100%;
}

article.scanner-4.create {
    padding: 0px 40px 40px 40px;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    article.scanner-4.create {
        padding: 0px;
    }
}

article.scanner-4 > header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px dashed #bdbdbd;
    box-sizing: border-box;
}

article.scanner-4 > header > h1 {
    font-size: 24px;
    font-weight: 600;
    color: #212121;
}

@media (max-width: 425px) {

    article.scanner-4 > header > h1 {
        width: calc(100% - 120px);
    }
}

article.scanner-4 > form > h2 {
    width: 100%;
    margin: 40px 0px 20px 0px;
    padding: 0px 2.5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #212121;
}

article.scanner-4 > form > p {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 2.5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    line-height: 20px;
    color: #757575;
}

/*  */

header.laboratory {
    width: 100%;
}

header.laboratory > div:first-child {
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px 40px;
    box-sizing: border-box;
}

header.laboratory > div:first-child > figure {
    width: 100px;
    position: absolute;
    top: 60px;
    left: 20px;
}

header.laboratory > div:first-child > figure > img {
    width: 100%;
}

header.laboratory > div:first-child > h1 {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
}

header.laboratory > div:last-child {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px 0px 40px;
    box-sizing: border-box;
}

header.laboratory > div:last-child > h2,
header.laboratory > div:last-child > h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

header.laboratory > div:last-child > h3 > a > img {
    width: auto;
    height: 20px;
    margin: 10px 0px 0px 10px;
}

/*  */

main.laboratory {
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
}

/*  */

main.laboratory > div.blocked,
main.laboratory > form[name="start_authentication"],
main.laboratory > div.authentication {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.laboratory > div.blocked {
    padding: 40px 20px;
    box-sizing: border-box;
}

main.laboratory > div.blocked > i,
main.laboratory > form[name="start_authentication"] > i,
main.laboratory > div.authentication > i {
    margin-bottom: 40px;
    font-size: 100px;
    color: #bdbdbd;
}

main.laboratory > div.blocked > p {
    text-align: center;
    color: #757575;
}

main.laboratory > form[name="start_authentication"] {
    width: 100%;
}

main.laboratory > form[name="start_authentication"] > fieldset > div.button > button {
    width: 100%;
    margin: 0px;
}

main.laboratory > div.authentication > h4 {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: #212121;
}

main.laboratory > div.authentication > h4 > i {
    margin-right: 5px;
    color: #009688;
}

main.laboratory > div.authentication > h5 {
    width: 100%;
    margin-bottom: 40px;
    font-size: 12px;
    text-align: center;
    color: #757575;
}

main.laboratory > div.authentication > figure {
    width: 100%;
    margin-bottom: 20px;
    border: 1px dashed #bdbdbd;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

main.laboratory > div.authentication > figure > img {
    width: 100%;
}

main.laboratory > div.authentication > a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

main.laboratory > div.authentication > a[data-action="share"] {
    margin-bottom: 20px;
    border: 1px dashed #bdbdbd;
    box-sizing: border-box;
    color: #757575;
}

main.laboratory > div.authentication > a[data-action="share"] > i {
    margin-right: 10px;
}

main.laboratory > div.authentication > a[data-action="end_authentication"] {
    background-color: #f44336;
    color: #fff;
}

/*  */

main.laboratory > form[name="create_record"] > h4 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
}

main.laboratory > form[name="create_record"] > p {
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    line-height: 18px;
    color: #757575;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #bdbdbd;
    box-sizing: border-box;
}

main.laboratory > form[name="create_record"] > div[data-step] {
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #bdbdbd;
    box-sizing: border-box;
}

main.laboratory > form[name="create_record"] > div[data-step] > h4 {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #212121;
    margin-bottom: 20px;
}

main.laboratory > form[name="create_record"] > div[data-step] > p {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #757575;
    line-height: 18px;
    margin-bottom: 20px;
}

main.laboratory > form[name="create_record"] > div[data-step] > fieldset > div.title > p {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    color: #757575;
    line-height: 18px;
}

main.laboratory > form[name="create_record"] > div[data-step] > div.accept_terms {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f44336;
}

main.laboratory > form[name="create_record"] > div[data-step] > div.accept_terms > div.caption > p {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: #fff;
}

main.laboratory > form[name="create_record"] > div[data-step] > div.accept_terms > div.checkbox {
    margin-top: 20px;
}

main.laboratory > form[name="create_record"] > div[data-step] > div.accept_terms > div.checkbox > label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    background-color: #f44336;
}

main.laboratory > form[name="create_record"] > div[data-step] > div.accept_terms > div.checkbox > label > span {
    margin-right: 5px;
    color: #fff;
}

main.laboratory > form[name="create_record"] > fieldset > div.button > button,
main.laboratory > form[name="create_record"] > fieldset > div.button > a {
    width: 100% !important;
    margin: 0px;
}

/*  */

main.laboratory > div.record {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.laboratory > div.record > h4,
main.laboratory > div.record > h5 {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
}

main.laboratory > div.record > h4 {
    font-size: 24px;

}

main.laboratory > div.record > h5 {
    margin-bottom: 40px;
    font-size: 34px;
}

main.laboratory > div.record > p {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

main.laboratory > div.record > figure {
    width: 100%;
    margin-bottom: 20px;
    border: 1px dashed #bdbdbd;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

main.laboratory > div.record > figure > img {
    width: 100%;
}

main.laboratory > div.record > a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #009688;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

/*  */

main.laboratory > div.results {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.laboratory > div.results > h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #212121;
    margin-bottom: 5px;
}

main.laboratory > div.results > h3 {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #757575;
    margin-bottom: 40px;
}

main.laboratory > div.results > div.title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

main.laboratory > div.results > div.title > i {
    padding: 5px 10px;
    border: 1px dashed #000;
    box-sizing: border-box;
    font-size: 60px;
    color: #000;
}

main.laboratory > div.results > div.title > h2 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #757575;
}

main.laboratory > div.results > div.title > h2 > strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

main.laboratory > div.results > div.counter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

main.laboratory > div.results > div.counter > h2 {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.laboratory > div.results > div.counter > h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 48px;
    font-weight: 600;
}

main.laboratory > div.results > div.counter > h3.time_on {
    background-color: #009688;
    color: #fff;
}

main.laboratory > div.results > div.counter > h3.time_out {
    background-color: #eee;
    color: #757575;
}

main.laboratory > div.results > div.counter > h4 {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.laboratory > div.results > table {
    width: 100%;
    margin-bottom: 40px;
}

main.laboratory > div.results > table > tbody > tr > td {
    font-size: 14px;
}

main.laboratory > div.results > table > tbody > tr > td:last-child {
    color: #757575;
}

main.laboratory > div.results > p {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: #757575;
    margin-bottom: 40px;
}

main.laboratory > div.results > figure {
    width: 100%;
    margin-bottom: 20px;
    border: 1px dashed #bdbdbd;
    box-sizing: border-box;
}

main.laboratory > div.results > figure > img {
    width: 100%;
}

main.laboratory > div.results > a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #009688;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

main.laboratory > div.results > div.chemical {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.laboratory > div.results > div.chemical > figure,
main.laboratory > div.results > div.chemical > figure > img {
    width: auto;
    height: 100px;
    margin-bottom: 20px;
}

main.laboratory > div.results > div.chemical > h2 {
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #212121;
}

main.laboratory > div.results > div.chemical > h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

/*  */

main.laboratory > div.blocked > div.share,
main.laboratory > form[name="create_record"] > div.share,
main.laboratory > div.record > div.share,
main.laboratory > div.record > div.share > div,
main.laboratory > div.results > div.share,
main.laboratory > div.results > div.share > div {
    width: 100%;
}

main.laboratory > div.blocked > div.share,
main.laboratory > form[name="create_record"] > div.share {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px dashed #bdbdbd;
    box-sizing: border-box;
}

main.laboratory > div.record > div.share,
main.laboratory > div.results > div.share {
    margin-bottom: 40px;
}

main.laboratory > div.record > div.share > div:first-child > a,
main.laboratory > div.results > div.share > div:first-child > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding: 10px 20px;
    border: 1px dashed #bdbdbd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.laboratory > div.record > div.share > div:first-child > a > i,
main.laboratory > div.results > div.share > div:first-child > a > i {
    margin-right: 10px;
    font-size: 30px;
    color: #bdbdbd;
}

main.laboratory > div.blocked > div.share,
main.laboratory > form[name="create_record"] > div.share,
main.laboratory > div.record > div.share > div:last-child,
main.laboratory > div.results > div.share > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

main.laboratory > div.blocked > div.share > a,
main.laboratory > form[name="create_record"] > div.share > a,
main.laboratory > div.record > div.share > div:last-child > a,
main.laboratory > div.results > div.share > div:last-child > a {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.laboratory > div.blocked > div.share > a > i,
main.laboratory > form[name="create_record"] > div.share > a > i,
main.laboratory > div.record > div.share > div:last-child > a > i,
main.laboratory > div.results > div.share > div:last-child > a > i {
    margin-bottom: 10px;
    font-size: 30px;
    color: #bdbdbd;
}

/*  */

main.laboratory > form[name="create_record"] > div.operating_permits {
    width: 100%;
    margin-top: 40px;
}

main.laboratory > form[name="create_record"] > div.operating_permits > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.laboratory > form[name="create_record"] > div.operating_permits > div:first-child {
    margin-bottom: 20px;
}

main.laboratory > form[name="create_record"] > div.operating_permits > div:first-child > figure {
    width: calc(100% / 5);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.laboratory > form[name="create_record"] > div.operating_permits > div:first-child > figure.hor > img {
    width: 100%;
}

main.laboratory > form[name="create_record"] > div.operating_permits > div:first-child > figure.ver > img {
    width: auto;
    height: 100%;
}

main.laboratory > form[name="create_record"] > div.operating_permits > div:last-child {
    flex-direction: column;
}

main.laboratory > form[name="create_record"] > div.operating_permits > div:last-child > h4 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

main.laboratory > form[name="create_record"] > div.operating_permits > div:last-child > h6 {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

/*  */

footer.laboratory {
    width: 100%;
}

footer.laboratory > div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

footer.laboratory > div > a {
    font-weight: 400;
    color: #fff;
}

footer.laboratory > div:first-child > a {
    font-size: 14px;
}

footer.laboratory > div:first-child > a > i {
    min-width: 14px;
    margin-right: 10px;
}

footer.laboratory > div:last-child > a {
    font-size: 12px;
}
