
header.covid {
    width: 100%;
}

header.covid > div:first-child {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 40px;
    box-sizing: border-box;
    background-color: #004770;
}

header.covid > div:first-child > figure {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}

header.covid > div:first-child > figure > img {
    width: 100%;
}

header.covid > div:first-child > h1 {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: #fff;
}

header.covid > div:last-child {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px 0px 40px;
    box-sizing: border-box;
}

header.covid > div:last-child > h2,
header.covid > div:last-child > h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    color: #004770;
}

/*  */

main.covid {
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
}

/*  */

main.covid > form > h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #212121;
    margin-bottom: 5px;
}

main.covid > form > h3 {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #757575;
    margin-bottom: 40px;
}

main.covid > form > fieldset > div.button > button {
    width: 100% !important;
}

/*  */

main.covid > div.create {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    box-sizing: border-box;
}

main.covid > div.create > h4 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
}

main.covid > div.create > figure {
    width: 100%;
    margin-bottom: 40px;
    border: 1px dashed #212121;
    box-sizing: border-box;
}

main.covid > div.create > figure > img {
    width: 100%;
}

main.covid > div.create > p {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

/*  */

main.covid > div.results {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    box-sizing: border-box;
}

main.covid > div.results > h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #212121;
    margin-bottom: 5px;
}

main.covid > div.results > h3 {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #757575;
    margin-bottom: 40px;
}

main.covid > div.results > div.title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

main.covid > div.results > div.title > i {
    padding: 5px 10px;
    border: 1px dashed #000;
    box-sizing: border-box;
    font-size: 60px;
    color: #000;
}

main.covid > div.results > div.title > h2 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

main.covid > div.results > div.title > h2 > strong {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

main.covid > div.results > div.counter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

main.covid > div.results > div.counter > h2 {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.covid > div.results > div.counter > h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 48px;
    font-weight: 600;
}

main.covid > div.results > div.counter > h3.time_on {
    background-color: #009688;
    color: #fff;
}

main.covid > div.results > div.counter > h3.time_out {
    background-color: #eee;
    color: #757575;
}

main.covid > div.results > div.counter > h4 {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.covid > div.results > table {
    width: 100%;
    margin-bottom: 40px;
}

main.covid > div.results > figure {
    width: 100%;
    margin-bottom: 40px;
    border: 1px dashed #212121;
    box-sizing: border-box;
}

main.covid > div.results > figure > img {
    width: 100%;
}

main.covid > div.results > a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #009688;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

main.covid > div.results > div.collector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.covid > div.results > div.collector > figure,
main.covid > div.results > div.collector > figure > img {
    width: auto;
    height: 100px;
    margin-bottom: 20px;
}

main.covid > div.results > div.collector > h2 {
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #212121;
}

main.covid > div.results > div.collector > h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

/*  */

footer.covid {
    width: 100%;
}

footer.covid > div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

footer.covid > div:first-child {
    background-color: #0b5178;
}

footer.covid > div:last-child {
    background-color: #004770;
}

footer.covid > div > a {
    font-weight: 400;
    color: #fff;
}

footer.covid > div:first-child > a {
    font-size: 14px;
}

footer.covid > div:first-child > a > i {
    min-width: 14px;
    margin-right: 10px;
}

footer.covid > div:last-child > a {
    font-size: 12px;
}
