
header.covid {
    width: 100%;
    height: 200px;
    padding: 40px;
    box-sizing: border-box;
}

header.covid::after {
    content: '';
    display: block;
    clear: both;
}

header.covid > figure,
header.covid > figure > img {
    width: auto;
    height: 100%;
}

header.covid > figure:first-child {
    float: left;
}

header.covid > figure:last-child {
    float: right;
}

/*  */

main.covid {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

/*  */

main.covid > form > p {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

main.covid > form > fieldset > div.button > button {
    width: auto !important;
}

main.covid > form > fieldset > div.button > button > i {
    margin-right: 10px;
}

/*  */

main.covid > section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.covid > section > p {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

main.covid > section > h4 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
}

main.covid > section > figure {
    width: auto;
    height: 200px;
    margin-bottom: 40px;
    border: 1px solid #212121;
    box-sizing: border-box;
}

main.covid > section > figure > img {
    width: auto;
    height: 100%;
}

main.covid > section > a {

}

/*  */

footer.covid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

footer.covid > p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

@media (max-width: 768px) {

    footer.covid > p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

footer.covid > p > span {
    position: relative;
    margin: 0px 10px;
}

footer.covid > p > span::after {
    content: '';
    width: 1px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: -10px;
    background-color: #757575;
}

footer.covid > p > span:last-child::after {
    display: none;
}

@media (max-width: 768px) {

    footer.covid > p > span::after {
        display: none;
    }
}
